.textArea {
  color: var(--Primitive-300);
  background: transparent;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 142.857%;
  text-overflow: ellipsis;
  width: 100%;
  border: none;
  outline: none;
  height: 100%;
  resize: none;
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  border: 1px solid var(--Primitive-800);
  padding: 10px 16px;
  border-radius: 12px;
  background: var(--Primitive-950);
}
.textArea::placeholder {
  color: var(--Primitive-500);
}
