.wrapper {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: transparent;
  transition: 0.3s;
  padding: 12px 0;
  border-bottom: 1px solid var(--Primitive-Transparent-8);
  background: var(--Primitive-950);
  height: 95px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  gap: 48px;
  max-width: 1440px;
}
.logo {
  max-width: 220px;
  width: 100%;
  display: block;
}

.navItems {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 32px;
}
.navItem {
  color: var(--Primitive-400);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

.navActive {
  color: var(--Primitive-Default);
}

.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 12px;
  margin-left: auto;
}
.multilanguage {
  font-size: 28px;
  color: var(--Primitive-500);
  cursor: pointer;
}
.iconContainer {
  justify-content: flex-end;
  gap: 8px;

  display: none;
}

.hamburger {
  font-size: 18px;
  color: var(--Primitive-400);
}
.icon {
  display: none;
  color: var(--Primitive-400);
}
.userInfo {
  display: flex;
  align-items: center;
  gap: 6px;
  background: var(--Primitive-Transparent-8);
  padding: 8px;
  border-radius: 20px;
  padding-right: 20px;
  cursor: pointer;
}
.name {
  font-size: 10px;
}
.userImg {
  border-radius: 50%;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
  max-width: 32px;
  width: 100%;
}
.buttonContainer .languageButton {
  border-radius: 50%;
  padding: 8px;
  background: var(--Primitive-900);
  aspect-ratio: 1/1;
}

@media only screen and (max-width: 991px) {
  .wrapper {
    padding: 10px 0;
    height: 80px;
  }
  .header {
    justify-content: safe;
  }

  .logo {
    max-width: 170px;
  }
  /* .header {
    width: calc(100% - 48px);
  } */
  .navItems {
    flex-direction: column;
    align-items: flex-start;

    padding: 0 24px;
    padding-top: 24px;
    gap: 0px;
    min-height: 100vh;
    background: var(--Primitive-950);
    border-left: 1px solid var(--Primitive-Transparent-8);
    transform: translateX(250%);
    transition: 0.3s;
    position: fixed;
    top: calc(100% + 1px);
    left: auto;
    right: 0;

    width: calc(100%);
    max-width: 320px;

    min-height: 100vh;

    backdrop-filter: blur(0px);

    border-radius: 0;
    gap: 20px;
    z-index: 2;
  }

  .sidebar {
    transform: translateX(0%);
    right: 0;
  }

  .icon {
    display: block;
    cursor: pointer;

    font-size: 24px;
  }

  .iconContainer {
    display: flex;
  }

  .buttonContainer {
    justify-content: center;
    margin: 0;
    margin-top: 10px;
  }
}
@media only screen and (max-width: 520px) {
  .header {
    width: calc(100% - 20px);
    gap: 15px;
  }
  .buttonContainer {
    gap: 8px;
  }
  .userInfo {
    padding: 4px;
  }
  .details {
    display: none;
  }
  .logo {
    max-width: 120px;
  }
  .navItems {
    padding-left: 20px;
    padding-right: 20px;
  }

  .buttonContainer .button {
    padding: 8px 12px;
  }
}
